body {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    color: #415c52;
}

.left, .right {
    flex: 1;
    height: 100%;
    text-align: center;
    font-family: 'Cal Sans';
}

.left {
    background-color: #EEEFE0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    background-color: #D1D8BE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 0;
}
#gen {
    margin: 5px auto;
    display: block;
}

#url{
    width: 20rem;
    height: 2rem;
    border: 2px solid #D1D8BE;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px  8px ;
}

#url::placeholder{
    text-align: center;
}

#gen{
    margin-top: 2rem;
    background-color: #415c52;    
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px  8px  black;
    padding: 5px;
}
#title{
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    background-color: #EEEFE0;
    padding: 12px;
    font-family: 'Cal Sans';
    color: #415c52;
    transition-duration: 1s;
}
.right h1{
    padding-bottom: 5rem;
}
#imgdiv p{
    transition-property: transform;
    font-size: 1.5em;
}
#enterUrl{
    font-size: 1.5em;
}